body{
    background-image: url("https://images6.alphacoders.com/128/1283057.jpg");
    background-repeat: no-repeat;
background-position: right top;
font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}